*{
  outline: none;
}
.gameBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 220px;
  background: white;
  margin: 10px;
  border-radius: 20px;
}
h2,p{
  margin: 2px;
}
img{
  margin-top: 10px;
}
.normal{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.small{
  height: 100px;
  width: 100px;
}
.big{
  height: 170px;
  width: 170px;
}
.blue{
  background: aqua;
}
.purple{
  background: blueviolet;
}
.white{
  background: white;
}
.gamePage{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 350px;
}
.submenu{
  width: 200px;
  display: flex;
  justify-content: center;
}
.categories{
  display: none;
  position: absolute;
  width: 150px;
  margin-top: 60px;
  border-radius: 20px;
}
.categories > li{
  width: 50px;
  font-size: 20px;
  list-style-type: none;
}
.submenu:hover > .categories{
  display: block;
  background: white;
}
