<app-button (onChanged)="Sort($event)" (onClick)="changeStyles($event)"></app-button>
<div class="notFound" *ngIf="!filteredListOfApplications[0]">
  <h1>
    Sorry, but we didn't find any apps with that name
  </h1>
  <button (click)="mainPage()">Main Page</button>
</div>
<div class="gamePage">
  <div *ngFor="let App of filteredListOfApplications" class="gameBlock {{imgBackground}}" routerLink="/game/{{App.app_short | lowercase }}">
    <img src="{{App.url}}" class="{{sizeImg}}">
    <h2>{{App.app_name}}</h2>
    <p>Rating {{App.all_rating}}</p>
  </div>
</div>

