<div class="sortButton">
  <h1>Sort by :</h1>
  <button (click)="sortMas('app_name')">Name</button>
  <button (click)="sortMas('all_rating')">Rating</button>
  <button (click)="sortMas('file_size')">Size</button>
  <button (click)="sortMas('version')">Version</button>
</div>
<div class="changeImg" >
  <h1>Size(admin mode):</h1>
  <button (click)="changeSizeImg('small')"  [disabled]="!admin.admin">Small</button>
  <button (click)="changeSizeImg('normal')" [disabled]="!admin.admin">Normal</button>
  <button (click)="changeSizeImg('big')" [disabled]="!admin.admin">Big</button>
</div>
<div class="changeBack">
  <h1>Color(admin mode):</h1>
  <button (click)="changeBackImg('white')" [disabled]="!admin.admin">White</button>
  <button (click)="changeBackImg('blue')" [disabled]="!admin.admin">Blue</button>
  <button (click)="changeBackImg('purple')" [disabled]="!admin.admin">Perple</button>
</div>
<div class="gamePage">
  <div *ngFor="let App of filteredListOfApplications" class="gameBlock {{imgBackground}}" routerLink="/game/{{App.app_short | lowercase }}">
    <img src="{{App.url}}" class="{{sizeImg}}">
    <h2>{{App.app_name}}</h2>
    <p>✩ {{App.all_rating}}</p>
  </div>
</div>
