<div class="oneApp" *ngIf="oneApp">
  <img src="{{oneApp.url}}">
  <h1>{{oneApp.app_name}}</h1>
  <div>
    <p>Size : {{oneApp.file_size}}</p>
    <p>Rating {{oneApp.all_rating}}</p>
    <p>Type : {{oneApp.app_type | uppercase }}</p>
    <p>Downloads : {{oneApp.downloads}}</p>
    <p>Price : {{oneApp.price}}</p>
    <p>Version : {{oneApp.version}}</p>
  </div>
  <div>
    Permissions:
    <div *ngFor="let permissions of oneApp.permissions">
      <li>{{permissions}}</li>
    </div>
  </div>
  <button>Download</button>
</div>
